.register-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-top: 60px;
  color: rgb(51, 90, 128);
}
.input-form {
  border: 1px solid rgb(224, 118, 91);
  padding: 10px;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.register-form-button {
  background-color: #f6f6f0;
  font-size: 26px;
  padding: 5px;
  color: rgb(51, 90, 128);
  border: 1px solid rgb(51, 90, 128);
  display: flex;
  margin: 0 auto;
}
